// COLORS
$padding-mobile: 1.7rem;
$padding-tablet: 3rem;
$padding-desktop: 5rem;
$heading-color: #666cff;
$text-color: #3b4056;
$border-color: #666cff52;
$low-opacity-text-color: #676b7b;
$white-gray-bg: #f7f7f9;
$input-border-color: #676b7b33;

// FONT SIZES
$font-size-base: 16px;
$font-size-small-heading: 20px;
$font-size-label: 15px;
$font-size-label-small: 13px;
$font-size-button: 16px;

// Transition
$transition: all 0.3s ease;