
// Mixins
@mixin flex-column($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
  }
  @mixin flex-row($gap) {
    display: flex;
    flex-direction: row;
    gap: $gap;
  }
  @mixin full-height-width {
    height: 100%;
    width: 100%;
  }
  @mixin primary-button {
    background-color: #5c61e6;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: darken(#5c61e6, 10%);
    }
  }