* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  background-color: #fff;
}

html {
  font-size: clamp(16px, 1vw, 20px);
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

.max-width {
  width: calc(100% - 1.7rem);
  margin: 0 auto;
  text-align: center;
}

.content-width {
  max-width: 1440px;
  margin: 0 auto;
}

.main-body {
  margin: 0 auto;
}

.primary-btn button {
  background-color: #5c61e6;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.primary-btn button:hover {
  background-color: #3036df;
}

.lb {
  display: none;
}

p {
  font-size: 15px;
  color: #3b4056;
  line-height: 22px;
  margin-bottom: 0rem;
}

h1 {
  font-weight: 500;
  font-size: 1.54rem;
  color: #3b4056;
  line-height: 42px;
}
h1 br {
  display: none;
}

h2 {
  font-weight: 600;
  font-size: 1.2rem;
  color: #3b4056;
  margin-bottom: 0rem;
}

.card {
  --bs-card-border-width: 0px;
}

.card-icon {
  margin-bottom: 0.5rem;
}
.card-icon img {
  width: 85px;
  height: 85px;
  border: 1px solid rgba(102, 108, 255, 0.3215686275);
  padding: 1.3rem;
  border-radius: 50%;
}

.top-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.7rem;
  width: calc(100% - 1.7rem);
  max-width: 1440px;
  height: 63px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.78);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
header .logo {
  font-size: 1.4rem;
}
header nav {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-image: url(../assets/hero\ light_first_section/hero-bg-light-1.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  text-align: center;
}
.hero-section .hero-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero-section .hero-content .text {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero-section .hero-content .text h1 {
  font-weight: 700;
  color: #666cff;
}
.hero-section .hero-content .images {
  height: 100%;
  width: 100%;
  position: relative;
}
.hero-section .hero-content .images .dashboard {
  height: 100%;
  width: 100%;
}
.hero-section .hero-content .images .dashboard img {
  width: 80%;
}
.hero-section .hero-content .images .element {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.hero-section .hero-content .images .element img {
  height: 100%;
  width: 100%;
}

.service-section .service-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.service-section .service-content .bottom-container .card-items {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.service-section .service-content .bottom-container .card-items .card {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.service-section .service-content .bottom-container .card-items .card p {
  color: #676b7b;
  max-width: 90%;
  font-weight: 400;
  margin: 0 auto;
}

.create-documents {
  background-color: #f7f7f9;
}
.create-documents .documents-content {
  padding: 4rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.create-documents .documents-content .bottom-container .card-items {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-padding: 0 50%;
}
.create-documents .documents-content .bottom-container .card-items .card {
  flex-shrink: 0;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem;
  width: 275px;
  height: 295px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 4px 4px 2px 0px rgba(211, 211, 211, 0.2509803922);
}

.management-section .management-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.management-section .management-content .bottom-container {
  height: 100%;
  width: 100%;
}
.management-section .management-content .bottom-container .card-items {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  width: 100%;
}
.management-section .management-content .bottom-container .card-items .card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: initial;
  padding: 1.5rem 1rem;
  border: 1px solid rgba(102, 108, 255, 0.3215686275);
  border-radius: 10px;
}
.management-section .management-content .bottom-container .card-items .card .card-img {
  height: 150px;
  width: 160px;
  margin: 0 auto;
}
.management-section .management-content .bottom-container .card-items .card .card-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.advantages-secttion .advantages-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.advantages-secttion .advantages-content .top-container .primary-btn {
  margin-top: 1.2rem;
}
.advantages-secttion .advantages-content .bottom-container .card-items {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.advantages-secttion .advantages-content .bottom-container .card-items .card {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.advantages-secttion .advantages-content .bottom-container .card-items .card p {
  color: #676b7b;
  max-width: 90%;
  margin: 0 auto;
  font-weight: 400;
}

.payment-info {
  background-color: #f7f7f9;
  padding: 4rem 0;
}
.payment-info .payment-content .top-container .lb {
  display: none;
}
.payment-info .payment-content .top-container .primary-btn {
  margin-top: 1.2rem;
}

.static-section .statics-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.static-section .statics-content .card-items {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.static-section .statics-content .card-items .card {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.static-section .statics-content .card-items .card .card-icon img {
  padding: 0.6rem;
}
.static-section .statics-content .card-items .card p {
  color: #676b7b;
  margin: 0 auto;
  font-weight: 400;
}

.faqs-section {
  background-color: #f7f7f9;
  padding: 4rem 0;
  margin-bottom: -2rem;
}
.faqs-section .faqs-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.faqs-section .faqs-content .bottom-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 100%;
}
.faqs-section .faqs-content .bottom-container .left {
  height: 100%;
  width: 100%;
}
.faqs-section .faqs-content .bottom-container .left img {
  width: 327.45px;
  height: 346.83px;
}
.faqs-section .faqs-content .bottom-container .right .accordion-body {
  text-align: left;
}
.faqs-section .faqs-content .bottom-container .right .accordion-button {
  background-color: transparent;
  color: #3b4056;
  font-size: 15px;
}
.faqs-section .faqs-content .bottom-container .right .accordion-button:focus {
  background-color: transparent;
  box-shadow: none;
}

.start-section {
  height: 100%;
  width: 100%;
  padding: 4rem 0;
  background-image: url("../assets/icon_and_background_ninth_section/cta-bg_fatturazione_elettronica.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  margin-bottom: -2rem;
}
.start-section .start-content .left {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-bottom: 2rem;
}
.start-section .start-content .left h1 {
  color: #666cff;
}
.start-section .start-content .left p {
  padding-bottom: 2rem;
  font-weight: 500;
  color: #676b7b;
}
.start-section .start-content .right {
  margin-top: auto;
}
.start-section .start-content .right .db-img {
  height: 100%;
  width: 100%;
}
.start-section .start-content .right .db-img img {
  height: 100%;
  width: 100%;
  max-width: 690px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: 0 auto;
}

.contact-section {
  padding: 4rem 0;
  background-color: #f7f7f9;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact-section .top-container {
  margin-bottom: 1.5rem;
}
.contact-section .bottom-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact-section .bottom-container .form-text {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  background-color: #666cff;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 4px 4px 2px 0px rgba(211, 211, 211, 0.2509803922);
  padding: 1.5rem 1rem;
  height: 350px;
  text-align: left;
}
.contact-section .bottom-container .form-text h2,
.contact-section .bottom-container .form-text h1,
.contact-section .bottom-container .form-text p {
  color: #fff;
}
.contact-section .bottom-container .form-text .bottom-text {
  margin-top: auto;
}
.contact-section .bottom-container .form-container {
  background-color: #fff;
  padding: 1.5rem 1rem;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 4px 4px 2px 0px rgba(211, 211, 211, 0.2509803922);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-section .bottom-container .form-container h2 {
  text-align: left;
  margin-bottom: 1.4rem;
}
.contact-section .bottom-container .form-container form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.contact-section .bottom-container .form-container form .top-input,
.contact-section .bottom-container .form-container form .bottom-input,
.contact-section .bottom-container .form-container form .msg-btn {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.contact-section .bottom-container .form-container form input {
  padding: 0 0.5rem;
  height: 46px;
  border-radius: 8px;
  border: 1px solid rgba(103, 107, 123, 0.2);
  outline: none;
}
.contact-section .bottom-container .form-container form textarea {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid rgba(103, 107, 123, 0.2);
  width: 100%;
  min-width: initial;
  outline: none;
  resize: none;
}
.contact-section .bottom-container .form-container form input,
.contact-section .bottom-container .form-container form textarea {
  transition: border cubic-bezier(0.19, 1, 0.22, 1) ease;
}
.contact-section .bottom-container .form-container form input:focus,
.contact-section .bottom-container .form-container form textarea:focus {
  border: 1px solid rgba(102, 108, 255, 0.3215686275);
}
.contact-section .bottom-container .form-container form .submit-btn {
  background-color: #5c61e6;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.contact-section .bottom-container .form-container form .submit-btn:hover {
  background-color: #3036df;
}

footer {
  background-image: url(../assets/footer/footer_bg_light_and_dark.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
footer .footer-content .content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: left;
  padding: 4rem 0;
}
footer .footer-content .content p,
footer .footer-content .content h2,
footer .footer-content .content h3,
footer .footer-content .content a {
  color: #fff;
}
footer .footer-content .content .logo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .footer-content .content .logo .primary-btn {
  margin-top: auto;
}
footer .footer-content .content .nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
footer .footer-content .content .nav-links a {
  text-decoration: underline;
  text-decoration-color: currentColor;
  width: -moz-fit-content;
  width: fit-content;
}
footer .footer-content .content .nav-links a:hover {
  color: #666cff;
  text-decoration-color: #666cff;
  transition: color 0.2s ease-in-out, text-decoration-color 0.2s ease-in-out;
}
footer .footer-content .content .social-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .footer-content .content .social-links .subscribe {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
footer .footer-content .content .social-links .subscribe p {
  font-size: 0.8rem;
}
footer .footer-content .content .social-links .subscribe form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}
footer .footer-content .content .social-links .subscribe form input {
  padding: 0 0.5rem;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #fff;
  outline: none;
  background-color: transparent;
}
footer .footer-content .content .social-links .subscribe form .submit-btn {
  background-color: #5c61e6;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
footer .footer-content .content .social-links .subscribe form .submit-btn:hover {
  background-color: #3036df;
}
footer .footer-content .content .social-links .social-media {
  padding-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
footer .footer-content .content .social-links .social-media h3 {
  font-size: 0.9rem;
}
footer .footer-content .content .social-links .social-media .social-icons {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}
footer .footer-content .content .social-links .social-media .social-icons img {
  height: 25px;
  width: 25px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.copy-right {
  background-color: #211b2c;
  text-align: center;
  padding: 0.8rem 0;
}
.copy-right p {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.copy-right p .f-logo-img img {
  height: 34px;
  width: 113px;
  vertical-align: middle;
}

@media (min-width: 610px) {
  .hero-section .bg-img img {
    aspect-ratio: 1/0.8;
  }
  .service-section .service-content .bottom-container .card-items {
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
  }
  .advantages-secttion .advantages-content .bottom-container .card-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .advantages-secttion .advantages-content .bottom-container .card-items .card {
    flex: 33.33%;
    height: 268px;
    width: 256px;
  }
  .static-section .statics-content .card-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .faqs-section .faqs-content .bottom-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
  }
  .faqs-section .faqs-content .bottom-container .right,
  .faqs-section .faqs-content .bottom-container .left {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .lb {
    display: block;
  }
  header nav {
    display: block;
  }
  .max-width {
    width: calc(100% - 3rem);
    max-width: calc(100% - 12vw);
    margin: 0 auto;
  }
  h1 {
    font-size: 38px;
  }
  h1 br {
    display: block;
  }
  p {
    font-size: 0.93rem;
  }
  .hero-section .hero-content .text p {
    max-width: 50%;
    margin: 0 auto;
  }
  .hero-section .bg-img img {
    aspect-ratio: 1/0.8;
  }
  .management-section .management-content .bottom-container .card-items {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  .payment-info .payment-content .top-container p {
    max-width: 65%;
    margin: 0 auto;
  }
  .contact-section .bottom-container .form-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .contact-section .bottom-container .form-container .top-container {
    flex: 35%;
  }
  .contact-section .bottom-container .form-container .bottom-container {
    flex: 65%;
  }
  .contact-section .bottom-container .form-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contact-section .bottom-container .form-container form > div:nth-child(3) {
    grid-column: 1/3;
  }
  .contact-section .bottom-container .form-container form input {
    max-width: 354px;
  }
}
@media (min-width: 1025px) {
  .max-width {
    width: calc(100% - 5rem);
    max-width: calc(100% - 16vw);
    margin: 0 auto;
  }
  .advantages-secttion .advantages-content .bottom-container .card-items {
    justify-content: space-between;
  }
  .advantages-secttion .advantages-content .bottom-container .card-items .card {
    flex: 0 0 20%;
  }
  .start-section .start-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-height: 506px;
    justify-content: space-between;
    align-items: center;
  }
  .start-section .start-content .left {
    text-align: left;
  }
  .contact-section .bottom-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .contact-section .bottom-container .form-text {
    flex: 40%;
    height: initial;
  }
  .contact-section .bottom-container .form-container {
    flex: 60%;
  }
  footer .footer-content .content {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    justify-content: space-between;
  }
}/*# sourceMappingURL=styles.css.map */