* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  background-color: #fff;
}

html {
  font-size: clamp(16px, 1vw, 20px);
  scroll-behavior: smooth;
}

.max-width {
  width: calc(100% - 1.5rem);
  margin: 0 auto;
}

.main-body {
  max-width: 1740px;
  margin: 0 auto;
}

.primary-btn button {
  background-color: #5c61e6;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.primary-btn button:hover {
  background-color: #3036df;
}

p {
  font-size: calc(1rem - 1px);
  color: #3b4056;
  line-height: 22px;
}

h1 {
  font-size: 2.2rem;
}

header {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  width: calc(100% - 1.5rem);
  max-width: calc(1740px - 5rem);
  height: 4rem;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.031372549);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
header .logo {
  font-size: 1.4rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  position: relative;
}
.hero-section .bg-img {
  height: 100%;
  width: 100%;
}
.hero-section .bg-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  aspect-ratio: 1/1.6;
}
.hero-section .hero-content {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translate(-50%, 3rem);
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
.hero-section .hero-content .text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero-section .hero-content .text h1 {
  font-size: 1.54rem;
  color: #666cff;
}
.hero-section .hero-content .text h1 br {
  display: none;
}
.hero-section .hero-content .text p {
  font-size: 0.93rem;
  font-weight: 300;
}
.hero-section .hero-content .images {
  height: 100%;
  width: 100%;
  position: relative;
}
.hero-section .hero-content .images .dashboard {
  height: 100%;
  width: 100%;
}
.hero-section .hero-content .images .dashboard img {
  width: 80%;
}
.hero-section .hero-content .images .element {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.hero-section .hero-content .images .element img {
  height: 100%;
  width: 100%;
}

.service-section {
  width: calc(100% - 1.5rem);
  max-width: calc(1740px - 5rem);
  margin: 0 auto;
  text-align: center;
}
.service-section .top-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.service-section .top-container p {
  font-weight: 300;
  font-size: 0.93rem;
}
.service-section .top-container h1 {
  font-weight: 500;
  font-size: 1.54rem;
  color: #3b4056;
}
.service-section .top-container h1 br {
  display: none;
}

@media (min-width: 410px) {
  .hero-section .hero-content {
    max-width: 80%;
    margin: 0 auto;
    max-width: calc(100% - 10vw);
  }
  .hero-section .bg-img img {
    aspect-ratio: 1/1.4;
  }
}
@media (min-width: 510px) {
  .hero-section .bg-img img {
    aspect-ratio: 1/1.2;
  }
  .service-section {
    margin-top: calc(3vh + 1rem);
  }
}
@media (min-width: 610px) {
  .hero-section .bg-img img {
    aspect-ratio: 1/0.8;
  }
  .service-section {
    margin-top: calc(15vh + 7rem);
  }
}
@media (min-width: 768px) {
  .max-width {
    width: calc(100% - 3rem);
    margin: 0 auto;
  }
  header,
  .hero-content,
  .service-section {
    max-width: calc(100% - 12vw);
  }
  .hero-section .hero-content .text h1 {
    font-size: 2.2rem;
  }
  .hero-section .hero-content .text h1 br {
    display: block;
  }
  .hero-section .hero-content .text p {
    font-size: 0.95rem;
    max-width: 50%;
    margin: 0 auto;
  }
  .hero-section .bg-img img {
    aspect-ratio: 1/0.8;
  }
  .service-section {
    margin-top: calc(20vh + 7rem);
  }
  .service-section .top-container h1 {
    font-size: 2.2rem;
  }
  .service-section .top-container h1 br {
    display: block;
  }
  .service-section .top-container p {
    font-size: 0.95rem;
  }
}
@media (min-width: 1024px) {
  .max-width {
    width: calc(100% - 5rem);
    margin: 0 auto;
  }
  header,
  .hero-content,
  .service-section {
    max-width: calc(100% - 14vw);
  }
  .hero-section .bg-img img {
    aspect-ratio: 1/0.7;
  }
  .service-section {
    margin-top: calc(20vh + 7rem);
  }
}/*# sourceMappingURL=styles.css.map */