@import "mixins";

// Variables
$padding-mobile: 1.7rem;
$padding-tablet: 3rem;
$padding-desktop: 5rem;
$heading-color: #666cff;
$text-color: #3b4056;
$border-color: #666cff52;
$low-opacity-text-color: #676b7b;
$white-gray-bg: #f7f7f9;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @include full-height-width;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  background-color: #fff;
}
html {
  font-size: clamp(16px, 1vw, 20px);
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
.max-width {
  width: calc(100% - $padding-mobile);
  margin: 0 auto;
  text-align: center;
}
.content-width {
  max-width: 1440px;
  margin: 0 auto;
}

.main-body {
  margin: 0 auto;
}

.primary-btn {
  button {
    @include primary-button;
  }
}
.lb {
  display: none;
}
p {
  font-size: 15px;
  color: $text-color;
  line-height: 22px;
  margin-bottom: 0rem;
}
h1 {
  font-weight: 500;
  font-size: 1.54rem;
  color: $text-color;
  line-height: 42px;
  br {
    display: none;
  }
}
h2 {
  font-weight: 600;
  font-size: 1.2rem;
  color: $text-color;
  margin-bottom: 0rem;
}
input {
  height: 37px;
}

.card {
  --bs-card-border-width: 0px;
}

.card-icon {
  margin-bottom: 0.5rem;
  img {
    width: 85px;
    height: 85px;
    border: 1px solid $border-color;
    padding: 1.3rem;
    border-radius: 50%;
  }
}

.top-container {
  @include flex-column(1rem);
}

// Header
header {
  @include flex-row(0rem);
  justify-content: space-between;
  align-items: center;
  padding: 0 $padding-mobile;
  width: calc(100% - $padding-mobile);
  max-width: 1440px;
  height: 63px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.78);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  .logo {
    font-size: 1.4rem;
  }
  nav {
    display: none;
  }
}

main {
  @include flex-column(2.5rem);
}

// Hero Section
.hero-section {
  @include flex-column(2rem);
  background-image: url(../assets/hero\ light_first_section/hero-bg-light-1.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  text-align: center;
  .hero-content {
    @include flex-column(1rem);
    .text {
      margin-top: 130px;
      @include flex-column(1.5rem);
      h1 {
        font-weight: 700;
        color: $heading-color;
      }
    }
    .images {
      @include full-height-width;
      position: relative;
      .dashboard {
        @include full-height-width;
        img {
          width: 80%;
        }
      }
      .element {
        @include full-height-width;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        img {
          @include full-height-width;
        }
      }
    }
  }
}

// Services Section
.service-section {
  .service-content {
    @include flex-column(4rem);
    .bottom-container {
      .card-items {
        @include flex-column(3rem);
        .card {
          @include flex-column(0.3rem);
          p {
            color: $low-opacity-text-color;
            max-width: 90%;
            font-weight: 400;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

// Create Documents
.create-documents {
  background-color: $white-gray-bg;
  .documents-content {
    padding: 4rem 0;
    text-align: center;
    @include flex-column(4rem);
    .bottom-container {
      .card-items {
        @include flex-row(2rem);
        overflow: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        scroll-padding: 0 50%;
        .card {
          flex-shrink: 0;
          scroll-snap-align: center;
          @include flex-column(2.5rem);
          padding: 2rem;
          width: 275px;
          height: 295px;
          background-color: #fff;
          border-radius: 10px;
          backdrop-filter: blur(2px);
          box-shadow: 4px 4px 2px 0px #d3d3d340;
        }
      }
    }
  }
}

// Management-section
.management-section {
  .management-content {
    @include flex-column(4rem);
    .bottom-container {
      @include full-height-width;
      .card-items {
        @include flex-column(3rem);
        @include full-height-width;
        .card {
          @include full-height-width;
          @include flex-column(1.5rem);
          height: initial;
          padding: 1.5rem 1rem;
          border: 1px solid $border-color;
          border-radius: 10px;
          .card-img {
            height: 150px;
            width: 160px;
            margin: 0 auto;
            img {
              @include full-height-width;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }
    }
  }
}

// Advantages-secttion
.advantages-secttion {
  .advantages-content {
    @include flex-column(4rem);
    .top-container {
      .primary-btn {
        margin-top: 1.2rem;
      }
    }
    .bottom-container {
      .card-items {
        @include flex-column(3rem);
        .card {
          @include flex-column(0.1rem);
          p {
            color: $low-opacity-text-color;
            max-width: 90%;
            margin: 0 auto;
            font-weight: 400;
          }
        }
      }
    }
  }
}

// Payment-section
.payment-info {
  background-color: $white-gray-bg;
  padding: 4rem 0;
  .payment-content {
    .top-container {
      .lb {
        display: none;
      }
      .primary-btn {
        margin-top: 1.2rem;
      }
    }
  }
}

// Static-section
.static-section {
  .statics-content {
    @include flex-column(4rem);
    .card-items {
      @include flex-column(2.5rem);
      .card {
        @include flex-column(0.4rem);
        .card-icon {
          img {
            padding: 0.6rem;
          }
        }
        p {
          color: $low-opacity-text-color;
          margin: 0 auto;
          font-weight: 400;
        }
      }
    }
  }
}

// Faqs-section
.faqs-section {
  background-color: $white-gray-bg;
  padding: 4rem 0;
  margin-bottom: -2rem;
  .faqs-content {
    @include flex-column(4rem);
    .bottom-container {
      @include flex-column(2rem);
      @include full-height-width;
      .left {
        @include full-height-width;
        img {
          width: 327.45px;
          height: 346.83px;
        }
      }
      .right {
        .accordion-body {
          text-align: left;
        }
        .accordion-button {
          background-color: transparent;
          color: $text-color;
          font-size: 15px;

          &:focus {
            background-color: transparent;
            box-shadow: none;
          }
        }
      }
    }
  }
}

// .Start-section
.start-section {
  @include full-height-width;
  padding: 4rem 0;
  background-image: url("../assets/icon_and_background_ninth_section/cta-bg_fatturazione_elettronica.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  margin-bottom: -2rem;
  .start-content {
    .left {
      @include flex-column(0.1rem);
      margin-bottom: 2rem;
      h1 {
        color: $heading-color;
      }
      p {
        padding-bottom: 2rem;
        font-weight: 500;
        color: $low-opacity-text-color;
      }
    }
    .right {
      margin-top: auto;

      .db-img {
        @include full-height-width;
        img {
          @include full-height-width;
          max-width: 690px;
          object-fit: cover;
          object-position: center;
          margin: 0 auto;
        }
      }
    }
  }
}

// Contact-section
.contact-section {
  padding: 4rem 0;
  background-color: $white-gray-bg;
  .top-container {
    margin-bottom: 1.5rem;
  }
  @include flex-column(2rem);
  .bottom-container {
    @include flex-column(2rem);
    .form-text {
      @include flex-column(0rem);
      justify-content: space-between;
      background-color: $heading-color;
      border-radius: 10px;
      backdrop-filter: blur(2px);
      box-shadow: 4px 4px 2px 0px #d3d3d340;
      padding: 1.5rem 1rem;
      height: 400px;
      text-align: left;
      h2,
      h1,
      p {
        color: #fff;
      }
      .top-text{
        h2{
          margin-top: 1.6rem;
          font-size: 15px;
        }
        h1{
          padding-top: 20px;
          font-size: 32px;
          line-height: 44px;
        }
      }
      .bottom-text {
        margin-top: auto;
        p{
          margin-bottom: 2.2rem;
        }
      }
    }

    .form-container {
      background-color: #fff;
      padding: 1.5rem 1rem;
      backdrop-filter: blur(2px);
      box-shadow: 4px 4px 2px 0px #d3d3d340;
      border-radius: 10px;
      @include flex-column(1rem);
      h2 {
        text-align: left;
      }
      form {
        width: 100%;
        margin: 0 auto;
        @include flex-column(1.4rem);
        .top-input,
        .bottom-input,
        .msg-btn {
          @include flex-column(1.4rem);
        }

        input {
          padding: 0 0.8rem;
          height: 40px;
          border-radius: 8px;
          border: 1px solid #676b7b33;
          outline: none;
        }

        textarea {
          padding: 0.5rem;
          border-radius: 8px;
          border: 1px solid #676b7b33;
          width: 100%;
          min-width: initial;
          outline: none;
          resize: none;
          height: 199px;
        }
        input,
        textarea {
          transition: border cubic-bezier(0.19, 1, 0.22, 1) ease;

          &:focus {
            border: 1px solid $border-color;
          }
        }
        .submit-btn {
          @include primary-button;
          max-width: fit-content;
          padding: 0 0.9rem;
        }
      }
    }
  }
}

// Footer
footer {
  background-image: url(../assets/footer/footer_bg_light_and_dark.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .footer-content {
    .content {
      @include flex-column(2.5rem);
      text-align: left;
      padding: 4rem 0;
      p,
      h2,
      h3,
      a {
        color: #fff;
        font-size: 15px;
      }
      .logo {
        @include flex-column(1rem);
        .logo {
          width: 113px;
          height: 35px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .primary-btn {
          margin-top: auto;
          font-size: 16px;
        }
      }
      .nav-links {
        @include flex-column(1rem);
        a {
          text-decoration: none;
          width: fit-content;
          font-size: 14px;
          letter-spacing: 0.6px;
          &:hover {
            color: $heading-color;
            text-decoration-color: $heading-color;
            transition: color 0.2s ease-in-out;
          }
        }
      }
      .social-links {
        @include flex-column(2rem);
        .subscribe {
          @include flex-column(0.6rem);
          p {
            font-size: 15px;
            letter-spacing: 2%;
          }
          h2 {
            font-size: 23px;
            letter-spacing: 2%;
            font-weight: 500;
          }
          form {
            @include flex-row(1rem);
            margin-top: 10px;
            flex-wrap: wrap;
            input {
              padding: 0 0.5rem;
              border-radius: 8px;
              border: 1px solid #676b7b33;
              outline: none;
              background-color: transparent;
              transition: border cubic-bezier(0.19, 1, 0.22, 1) ease;
              color: #fff;

              &:focus {
                border: 1px solid $heading-color;
              }
            }

            .submit-btn {
              @include primary-button;
              padding: 0 1.3rem;
            }
          }
        }
        .social-media {
          padding-top: auto;
          @include flex-column(0.6rem);
          h3 {
            font-size: 15px;
            letter-spacing: 2%;
          }
          .social-icons {
            @include flex-row(0.6rem);
            img {
              height: 23px;
              width: 23px;
              aspect-ratio: 1/1;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
.copy-right {
  background-color: #211b2c;
  text-align: center;
  padding: 0.8rem 0;
  p {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    .f-logo-img {
      img {
        height: 34px;
        width: 113px;
        vertical-align: middle;
      }
    }
  }
}

// Responsive

@media (min-width: 610px) {
  .hero-section {
    .bg-img {
      img {
        aspect-ratio: 1/0.8;
      }
    }
  }
  .service-section {
    .service-content {
      .bottom-container {
        .card-items {
          display: grid;
          grid-template-columns: repeat(3, minmax(10px, 1fr));
        }
      }
    }
  }
  .advantages-secttion {
    .advantages-content {
      .bottom-container {
        .card-items {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          .card {
            flex: 33.33%;
            height: 268px;
            width: 256px;
          }
        }
      }
    }
  }
  .static-section {
    .statics-content {
      .card-items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
  .faqs-section {
    .faqs-content {
      .bottom-container {
        @include flex-row(2rem);
        justify-content: space-between;
        .right,
        .left {
          width: 50%;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .lb {
    display: block;
  }
  header {
    nav {
      display: block;
    }
  }
  .max-width {
    width: calc(100% - $padding-tablet);
    max-width: calc(100% - 12vw);
    margin: 0 auto;
  }
  h1 {
    font-size: 38px;
    br {
      display: block;
    }
  }
  p {
    font-size: 0.93rem;
  }
  .hero-section {
    .hero-content {
      .text {
        p {
          max-width: 50%;
          margin: 0 auto;
        }
      }
    }
    .bg-img {
      img {
        aspect-ratio: 1/0.8;
      }
    }
  }
  .management-section {
    .management-content {
      .bottom-container {
        .card-items {
          @include flex-row(3rem);
        }
      }
    }
  }
  .payment-info {
    .payment-content {
      .top-container {
        p {
          max-width: 65%;
          margin: 0 auto;
        }
      }
    }
  }
  .contact-section {
    .bottom-container {
      .form-container {

        .top-container {
          flex: 35%;
        }
        .bottom-container {
          flex: 65%;
        }
        form {
          display: grid;
          grid-template-columns: 1fr 1fr;
          > div:nth-child(3) {
            grid-column: 1 / 3;
          }
          input {
            max-width: 354px;
          }
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  .max-width {
    width: calc(100% - $padding-desktop);
    margin: 0 auto;
  }

  .advantages-secttion {
    .advantages-content {
      .bottom-container {
        .card-items {
          justify-content: space-between;
          .card {
            flex: 0 0 20%;
          }
        }
      }
    }
  }
  .start-section {
    .start-content {
      @include flex-row(1rem);
      max-height: 506px;
      justify-content: space-between;
      align-items: center;
      .left {
        text-align: left;
      }
    }
  }
  .contact-section {
    .bottom-container {
      @include flex-row(2rem);
      .form-text {
        flex: 40%;
        height: initial;
      }
      .form-container {
        flex: 60%;
      }
    }
  }
  footer {
    .footer-content {
      .content {
        @include flex-row(0rem);
        justify-content: space-between;
      }
    }
  }
}
