// Variables
$container-max-width: 1740px;
$padding-mobile: 1.5rem;
$padding-tablet: 3rem;
$padding-desktop: 5rem;
$heading-color: #666cff;

// Mixins
@mixin flex-column($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
@mixin flex-row($gap) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}
@mixin full-height-width {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @include full-height-width;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  background-color: #fff;
}
html {
  font-size: clamp(16px, 1vw, 20px);
  scroll-behavior: smooth;
}
.max-width {
  width: calc(100% - $padding-mobile);
  margin: 0 auto;
}

.main-body {
  max-width: $container-max-width;
  margin: 0 auto;
}

// Header
header {
  @include flex-row(0rem);
  justify-content: space-between;
  align-items: center;
  padding: 0 $padding-mobile;
  width: calc(100% - $padding-mobile);
  height: 4rem;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 2px 2px 0px #00000004;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

main {
  @include flex-column(1rem);
}

// Hero Section
.hero-section {
  @include flex-column(2rem);
  text-align: center;
  position: relative;
  .bg-img {
    @include full-height-width;
    aspect-ratio: 1/1.2;
    img {
      @include full-height-width;
      object-fit: cover;
      object-position: bottom;
    }
  }
  .hero-content {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 5%);
    @include flex-column(1rem);
    align-items: center;
    .text {
      @include flex-column(1rem);
      h1 {
        font-size: 1.3rem;
        letter-spacing: 1px;
        color: $heading-color;
      }
      p {
        font-size: 0.8rem;
        line-height: 22px;
        font-weight: 400;
      }
    }
  }
}

// Responsive

@media (min-width: 786px) {
  .max-width {
    width: calc(100% - $padding-tablet);
    margin: 0 auto;
  }
  header {
    width: calc(100% - $padding-tablet);
  }
}

//////////////

@media (min-width: 1024px) {
  .max-width {
    width: calc(100% - $padding-desktop);
    margin: 0 auto;
  }
  header {
    width: calc(100% - $padding-desktop);
  }
}
